* text=auto eol=lf
*.cs text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.sln text eol=lf
*.txt text eol=lf
*.bat text eol=crlf
